# Python virtual environment
venv*/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE / editor files
.vscode/
.idea/

# macOS files
.DS_Store

# Windows files
Thumbs.db


data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

node_modules/